<!-- footer -->
<div id="footer">
    <h3>Follow Us!</h3>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse suscipit tellus vitae tellus porta rutrum. Aliquam imperdiet nulla id scelerisque auctor.</p>
    <div class="follow-us">
        <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
    </div>
</div>
<!-- footer 2 -->
<div id="footer2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright">&copy;primes
                    <script type="text/javascript">
                        //<![CDATA[
                        var d = new Date()
                        document.write(d.getFullYear())
                        //]]>
                    </script>
                    - <a href="http://themebootstrap.net/">themebootstrap.net</a>
                </div>
            </div>
        </div>
    </div>
</div>