{% include "primes/nav-bar.html.twig" %}
{% include "primes/top-content.html.twig" %}
{% include "primes/features.html.twig" %}
{% include "primes/services.html.twig" %}
{% include "primes/videos.html.twig" %}
{% include "primes/portfolio.html.twig" %}
{% include "primes/fact-container.html.twig" %}
{% include "primes/pricing-section.html.twig" %}
{% include "primes/testimonials.twig" %}
{% include "primes/contact.html.twig" %}
