<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Primes - Landing Page Template{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('elegant-icons/css/elegant-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('ionicons/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('owl-carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('owl-carousel/owl.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('cubeportfolio/css/cubeportfolio.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!--Colors-->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/red.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/orange.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/lime.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/brown.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/blue.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/yellow.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/colors/purple.css"> -->


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body data-spy="scroll" data-offset="80">
    {% block header %}
        {% include "partials/header.html.twig" %}
        {% include ":partials:flash-messages.html.twig" %}
    {% endblock %}

    {% block body %}
        {% block fos_user_content %}
        {% endblock %}
    {% endblock%}

    {% block footer %}
        {% include "partials/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/retina-1.1.0.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.1.3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.stellar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('owl-carousel/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
        <script src="{{ asset('js/cube.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>
