{% extends "layout.html.twig" %}

{% block title %}Primes - Landing Page Template{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
