<!-- Fact -->

<div id="fact-container" class="fact-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 fact-box">
                <div class="icon">
                    <i class="icon ion-ios-alarm-outline"></i>
                </div>
                <h4>1754</h4>
                <h5>hours worked</h5>

            </div>
            <div class="col-sm-3 fact-box">
                <div class="icon">
                    <i class="icon ion-social-dropbox-outline"></i>
                </div>
                <h4>300</h4>
                <h5>Finished projects</h5>

            </div>
            <div class="col-sm-3 fact-box">
                <div class="icon">
                    <i class="icon ion-ios-cloud-download-outline"></i>
                </div>
                <h4>842</h4>
                <h5>downloads</h5>

            </div>
            <div class="col-sm-3 fact-box">
                <div class="icon">
                    <i class="icon ion-ios-person-outline"></i>
                </div>
                <h4>910</h4>
                <h5>happy customers</h5>

            </div>
        </div>
    </div>
</div>