<!-- Features -->
<div id="features-section" class="features-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features">
                <h3>Features</h3>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 features-box">
                <div class="icon">
                    <i class="icon ion-ios-lightbulb-outline"></i>
                </div>
                <h4>Lorem Ipsum</h4>
                <p>
                    Phasellus dapibus lorem sit amet convallis posuere. Nulla a luctus nibh. Sed consectetur molestie dui, eu vestibulum risus pulvinar quis.
                </p>
                <a class="btn btn-features btn-lg" href="#"> Learn More</a>

            </div>
            <div class="col-sm-4 features-box">
                <div class="icon">
                    <i class="icon ion-ios-flame-outline"></i>
                </div>
                <h4>Lorem Ipsum</h4>
                <p>
                    Phasellus dapibus lorem sit amet convallis posuere. Nulla a luctus nibh. Sed consectetur molestie dui, eu vestibulum risus pulvinar quis.

                </p>
                <a class="btn btn-features btn-lg" href="#"> Learn More</a>

            </div>
            <div class="col-sm-4 features-box">
                <div class="icon">
                    <i class="icon ion-ios-flask-outline"></i>
                </div>
                <h4>Lorem Ipsum</h4>
                <p>
                    Phasellus dapibus lorem sit amet convallis posuere. Nulla a luctus nibh. Sed consectetur molestie dui, eu vestibulum risus pulvinar quis.

                </p>
                <a class="btn btn-features btn-lg" href="#"> Learn More</a>

            </div>
        </div>
    </div>
</div>