<div class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home"><i class="fa fa-star-half-o"></i> PRIMES</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#features-section">Features</a></li>
                <li><a href="#services-section">Services</a></li>

                <li><a href="#portfolio-section">Portfolio</a></li>
                <li><a href="#pricing-section">Pricing</a></li>
                <li><a href="#contact-section">Contact</a></li>
            </ul>
        </div>
    </div>
</div>