<div id="portfolio-section" class="portfolio-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 portfolio">

                <h3>Portfolio</h3>
                <p>Ut lobortis auctor est, quis ornare orci tristique vel. Pellentesque sit amet ultricies nisl.</p>

            </div>
        </div>



        <div class="clearfix">

            <div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-center">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                <div data-filter=".graphic" class="cbp-filter-item">Graphic</div>
                <div data-filter=".logos" class="cbp-filter-item">Logo</div>
                <div data-filter=".motion" class="cbp-filter-item">Motion</div>
            </div>
        </div>

        <div id="js-grid-lightbox-gallery" class="cbp">
            <div class="cbp-item web-design graphic print motion">
                <a href="{{ asset('ajax-lightbox-gallery/project1.html') }}" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/1.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">World Clock Widget</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design logos identity graphic">
                <a href="ajax-lightbox-gallery/project2.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/2.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Bolt UI</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic print identity">
                <a href="ajax-lightbox-gallery/project3.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/3.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">WhereTO App</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item web-design motion logos">
                <a href="ajax-lightbox-gallery/project4.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/4.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">iDevices</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity graphic print">
                <a href="ajax-lightbox-gallery/project5.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/5.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item motion print logos web-design">
                <a href="ajax-lightbox-gallery/project6.html" class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/6.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Remind~Me Widget</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item graphic logos">
                <a href="ajax-lightbox-gallery/project7.html" class="cbp-caption cbp-singlePageInline" data-title="Workout Buddy" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/7.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Workout Buddy</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity print logos motion">
                <a href="ajax-lightbox-gallery/project8.html" class="cbp-caption cbp-singlePageInline" data-title="Digital Menu" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/8.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Digital Menu</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cbp-item identity motion web-design">
                <a href="ajax-lightbox-gallery/project9.html" class="cbp-caption cbp-singlePageInline" data-title="Holiday Selector" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('img/portfolio/9.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Holiday Selector</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">
            <a href="ajax-lightbox-gallery/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                <span class="cbp-l-loadMore-defaultText">Load More</span>
                <span class="cbp-l-loadMore-loadingText">Loading...</span>
                <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
            </a>
        </div>

    </div>
</div>
