<!-- Pricing -->

<div id="pricing-section" class="pricing-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pricing">
                <h3>Choose the package</h3>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 toLeft">
                <div class="price-column">
                    <h2>Standard</h2>
                    <h3><span>From</span> $45<span>.99 per month</span></h3>
                    <ul>
                        <li>Vestibulum est magna</li>
                        <li>Mauris auctor massa libero</li>
                        <li>Praesent magna tortor</li>
                        <li>Cras et fermentum massa</li>
                        <li><button type="button" class="btn btn-top btn-lg">Purchase</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 toIn">
                <div class="price-column large">
                    <h2>Premium</h2>
                    <h3><span>From</span> $75<span>.00 per month</span></h3>
                    <ul>
                        <li>Vestibulum est magna</li>
                        <li>Mauris auctor massa libero</li>
                        <li>Praesent magna tortor</li>
                        <li>Cras et fermentum massa</li>
                        <li><button type="button" class="btn btn-top btn-lg">Purchase</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 toRight">
                <div class="price-column">
                    <h2>Ultimate</h2>
                    <h3><span>From</span> $99<span>.99 per month</span></h3>
                    <ul>
                        <li>Vestibulum est magna</li>
                        <li>Mauris auctor massa libero</li>
                        <li>Praesent magna tortor</li>
                        <li>Cras et fermentum massa</li>
                        <li><button type="button" class="btn btn-top btn-lg">Purchase</button></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>