<!-- Services -->

<div id="services-section" class="services-container">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 services">
                <h3>Services</h3>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-6">
                <div class="services-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-ios-loop"></i>

                    </div>
                    <div class="services-text-right">

                        <h5>Lorem Ipsum</h5>
                        <p>Nulla fringilla dapibus nisieu accumsan arcu convallis tincidunt donec mauris libero laciniade mollis malesuade odio interdum. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
                    </div>
                </div>

                <div class="services-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-social-buffer-outline"></i>

                    </div>
                    <div class="services-text-right">

                        <h5>Lorem Ipsum</h5>
                        <p>Nulla fringilla dapibus nisieu accumsan arcu convallis tincidunt donec mauris libero laciniade mollis malesuade odio interdum. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="services-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-social-windows-outline"></i>

                    </div>
                    <div class="services-text-right">

                        <h5>Lorem Ipsum</h5>
                        <p>Nulla fringilla dapibus nisieu accumsan arcu convallis tincidunt donec mauris libero laciniade mollis malesuade odio interdum. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
                    </div>
                </div>

                <div class="services-icon-wrap clearfix">
                    <div class="left-side-icon">
                        <i class="ion-ios-reload"></i>

                    </div>
                    <div class="services-text-right">

                        <h5>Lorem Ipsum</h5>
                        <p>Nulla fringilla dapibus nisieu accumsan arcu convallis tincidunt donec mauris libero laciniade mollis malesuade odio interdum. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>