<!-- Top content -->
<div id="home" class="parallax top-content" data-stellar-background-ratio="0.3">
    <div class="inner-bg">
        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-1 top-description">

                    <h2 class="text-center">
                        Launch Your <strong>Business</strong> with <strong>Primes</strong></h2>


                    <p>Vivamus commodo felis quis dui pharetra, ac venenatis magna lacinia. Vestibulum quis dignissim nibh. Duis vitae felis orci.</p>
                    <div class="top-button">
                        <a class="btn btn-top btn-lg" href="#portfolio-section"> Our Portfolio</a>
                        <a class="btn btn-top-white btn-lg" href="#features-section"> Learn More</a>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

