<!-- VIDEO SECTION -->
<div id="video" class="video-container">
    <!--video iframe-->
    <div class="video">
        <iframe frameborder="0" height="281" src="http://player.vimeo.com/video/163694555?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="640"></iframe>
    </div>
</div>
<!-- VIDEO SECTION -->