{% extends "::primes-layout.html.twig" %}

{% block body %}
<!-- Register -->
<div id="register-section" class="contact-container">

    <div class="inner-contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contact">
                    <h3>Contact Us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra odio ac felis iaculis cursus aliquet quis orci. Nunc id lorem ut mi euismod accumsan.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 form-group contact-form">
                    <h4>Register</h4>
                    {% block fos_user_content %}
                        {% include "@FOSUser/Registration/register_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
                <div class="col-sm-5 contact-address contact-about">
                    <h4>About Us</h4>
                    <p>Fusce at leo eros. Morbi mauris arcu, eleifend sit amet turpis ac, porta luctus neque. Etiam ultricies ac augue a venenatis. Quisque aliquam odio eu magna sodales, vel interdum erat suscipit. Mauris ut porttitor tellus. Integer ac bibendum lectus. Quisque interdum aliquam felis vel volutpat. Vivamus commodo felis quis dui pharetra, ac venenatis magna lacinia. Vestibulum quis dignissim nibh. Duis vitae felis orci. Aliquam porta interdum feugiat. Ut ac varius nibh. Nullam est nisl, sagittis sed risus vel, facilisis commodo tortor. Suspendisse suscipit tellus vitae tellus porta rutrum. Proin ac orci auctor, consequat dolor nec, scelerisque nisl.</p>
                    <h4>Address</h4>
                    <p><i class="fa fa-map-marker"></i>13 Brant Street, Burlington, Ontario, Canada</p>
                    <p><i class="fa fa-phone"></i>Phone: 0011 222 335 7773</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}