{% if contactForm is defined %}
    {{ form_start(contactForm, {'action' : path('primes_contact')}) }}
        {{ form_errors(contactForm.email) }}
        {{ form_widget(contactForm.email) }}

        {{ form_errors(contactForm.subject) }}
        {{ form_widget(contactForm.subject) }}

        {{ form_errors(contactForm.message) }}
        {{ form_widget(contactForm.message) }}

        {{ form_widget(contactForm.submit) }}
    {{ form_end(contactForm) }}
{% endif %}
