{% extends "layout.html.twig" %}

{% block title %}Primes - Landing Page Template{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block fos_user_content %}
    {% endblock %}
    {% include ":partials:homepage.html.twig" %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}